<footer class="footer">
    <div class="footer__background">
        <span class="footer__big-text">THE END?</span>
    </div>
    <div class="footer__content">
        <div class="footer__grid">
            <div class="footer__section">
                <h3 class="footer__title">ЕГОР ОСТРОВСКИЙ</h3>
                <p class="footer__text">CG художник и светодизайнер, мур<br>Москва, Россия</p>
            </div>
            <div class="footer__section">
                <h3 class="footer__title">Связаться</h3>
                <a href="mailto:zzarty.st@gmail.com" class="footer__link">zzarty.st@gmail.com</a>
                <a href="https://x.com/zzartyst" class="footer__link">x.com</a>
                <a href="https://t.me/zzarty" class="footer__link">t.me</a>
                <a href="https://t.me/iamzzarty" class="footer__link">t.me/channel</a>
            </div>
            <div class="footer__section">
                <h3 class="footer__title">Работа, мяу</h3>
                <a href="https://github.com/zzarty" class="footer__link">github.com</a>
            </div>
            <div class="footer__section">
                <h3 class="footer__title">Инфо</h3>
                <p class="footer__text">© 2025 ZZARTY, мур<br>Все права защищены котами</p>
            </div>
        </div>
    </div>
</footer>
