<nav class="nav-bottom">
    <div class="nav-bottom__container">
        <a href="{basePath}index.html" class="nav-bottom__link">Главная</a>
        <a href="{basePath}pages/contacts.html" class="nav-bottom__link">Контакты</a>
        <a href="{basePath}pages/goods.html" class="nav-bottom__link">Товары</a>
        <a href="{basePath}pages/news.html" class="nav-bottom__link">Новости</a>
        <a href="{basePath}pages/practices.html" class="nav-bottom__link">Практики</a>
        <div class="nav-bottom__indicator"></div>
    </div>
</nav>
