<nav class="nav">
    <div class="nav__container">
        <div class="nav__logo">
            <a href="{basePath}index.html" class="nav__logo-link">zzarty.com</a>
        </div>
        <div class="nav__time">
            <span id="current-time" class="nav__time-text">12:00 AM</span>
        </div>
        <div class="nav__menu">
            <div class="nav__pills">
                <a href="{basePath}index.html" class="nav__link">Главная</a>
                <a href="{basePath}pages/contacts.html" class="nav__link">Контакты</a>
                <a href="{basePath}pages/goods.html" class="nav__link">Товары</a>
                <a href="{basePath}pages/news.html" class="nav__link">Новости</a>
                <a href="{basePath}pages/practices.html" class="nav__link">Практики</a>
                <div class="nav__indicator"></div>
            </div>
        </div>
        <div class="nav__quote">
            <p class="nav__quote-text">We once built walls to protect ourselves.<br>Now we build mirrors to finally see each other.</p>
        </div>
    </div>
</nav>
