<div class="pie-menu">
    <button class="pie-menu__button" aria-label="Open menu">☰</button>
    <a href="{basePath}index.html" class="pie-menu__item pie-menu__item--pos-1" data-index="1">Home</a>
    <a href="{basePath}pages/news.html" class="pie-menu__item pie-menu__item--pos-2" data-index="2">News</a>
    <a href="{basePath}pages/practices.html" class="pie-menu__item pie-menu__item--pos-3" data-index="3">Practices</a>
    <a href="{basePath}pages/goods.html" class="pie-menu__item pie-menu__item--pos-4" data-index="4">Shop</a>
    <a href="{basePath}pages/contacts.html" class="pie-menu__item pie-menu__item--pos-5" data-index="5">Contact</a>
</div>
